<div class="outfooter">
	<div class="bottom"> 
		<div class="info"> 
			<table style="width:100%;"> 
				<tbody> 
					<tr>
						<td>
							<table style="width: 100%;">
								<tbody> 
									<tr style="text-align: center;" tr=""> 
										<td>
											<span id="ctl00_lblfooter">Bản quyền © 2014 
												<a style="font-size: 16px; "> Trường THPT ABC </a><br>
												ĐC:Số 115 Ngõ 254, Mai Động, Hoàng Mai, Hà Nội<br>
												Email&nbsp;: abc@gmail.com<br> 
												ĐT: 0xx.xxxxxxx 
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</div>
<div id="top" style="display: none;">
	Back to Top
</div>	