<div class="main">
	<div class="main_content"> <!-- phan noi dung -->
		<div class="container" style="margin: 50px auto;">
			<div class="row">
				<div class="col-md-9 boxleft" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<div class="col-md-12 boxnews">
						<div class="title" style="width: 100%;">
							<div class="bgleft">
								<span>
									<a href="" style="color: #fff;">Giới thiệu</a>		
								</span>
								<span class="breakcolumn">>></span>
								<span>
									<a href="/intros/index" style="color: #fff;">Lịch sử hình thành</a>
								</span>
								<span class="breakcolumn">>></span>
								
							</div>
							<div class="bgright">
								
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding: 0 10px;">
						<h3 class="h3_text">1. Lịch sử hình thành:</h3>
						<p>Trường tiểu học Dịch Vọng A được tách ra từ trường cấp 1-2 Dịch Vọng từ năm 1974. Hiện nay, trường đóng trên địa bàn phường Dịch Vọng Hậu</p>
						<div class="history_img">
							<%= image_tag("truongtieuhoc_06.jpg", width: 560, height: 290) %>
						</div>
						<p>- Từ năm 1974 đến nay, liên tục được công nhận là Trường tiên tiến xuất sắc cấp TP (nay là Tập thể Lao động xuất sắc).</p>
						<p>- Trường đã 3 lần được nhận cờ Luân lưu “Lá cờ đầu ngành giáo dục Thủ đô” trong các năm học 1993 - 1994, 2002 - 2003, 2007 - 2008.</p>
						<p>- Năm học 2003-2004 trường được Chủ tịch nước tặng Huân chương Lao động hạng Ba.</p>
						<p>- Năm học 2007 - 2008 trường được nhận Bằng khen của Bộ trưởng bộ Giáo dục- Đào tạo và được Liên đoàn lao động Thành phố tặng cờ thi đua “Công đoàn cơ sở vững mạnh xuất sắc”.</p>
						<p>- Công đoàn liên tục được công nhận “Công đoàn vững mạnh” cấp Thành phố và cấp Quận. Được Công đoàn Giáo dục Việt Nam tặng cờ thi đua 10 năm “Cô giáo-Người mẹ hiền”.</p>
						<p>- Liên đội đạt Liên đội mạnh cấp Trung ương, năm học 2009 – 2010 được Thành đoàn tặng cờ “Đơn vị dẫn đầu về công tác Đội”</p>
						<p>- Trường liên tục đạt danh hiệu Tiên tiến xuất sắc về thể dục thể thao.</p>
						<p>- Năm học 2007 – 2008 được Bộ trưởng Bộ Giáo dục tặng khen về những thành tích xuất sắc trong công tác giáo dục thể chất giai đoạn 2004 – 2008.</p>
						<p>- Năm học 2009- 2010 được nhận Bằng khen của Thủ tướng Chính phủ.</p>
						<p>- Năm học 2010 - 2011 được nhận Huân chương Lao động hạng Nhì.</p>
						<h3>2. Chất lượng dạy và học:</h3>
						<p>a. Chất lượng Giáo viên:</p>
						<p>* Trình độ chuyên môn:</p>
						<p>- 100 % giáo viên đạt chuẩn (trong đó 98,3% trên chuẩn)</p>
						<p>- 2 giáo viên đạt danh hiệu Giáo viên dạy giỏi cấp quốc gia</p>
						<p>- 19 giáo viên đạt danh hiệu Giáo viên dạy giỏi cấp Thành phố.</p>
						<p>* Sáng kiến kinh nghiệm:</p>
						<p>- 32 giải Thành phố</p>
						<p>- 100 giải Quận</p>
						<p>b. Chất lương học sinh</p>
						<p>* Thi học sinh giỏi các cấp:</p>
						<p>- 5 giải Quốc gia</p>
						<p>- 102 giải cấp Thành phố</p>
						<p>- 106 giải cấp Quận.</p>
						<p>* Thi viết chữ đẹp:</p>
						<p>- 2 giải Nhất cấp quốc gia</p>
						<p>-74 giải cấp Thành phố</p>
						<p>- 97 giải cấp quận.</p>
						<p>* Thành tích về Thể dục Thể thao:</p>
						<p>- Tổng số HC về TDTT: 204 HC quận, 61 HC cấp Thành phố, 10 HC Toàn quốc, 4 HC khu vực ĐNA (giải Cờ Vua trẻ).</p>
						<p>* Thi Vẽ tranh :</p>
						<p>- 1 giải xuất sắc Quốc tế</p>
						<p>- 1 giải A cấp Quốc gia</p>
						<p>- 1 giải A cấp Thành phố</p>
					</div>
				</div>
				<%= render "commons/sidebar", {report1s: @report1s} %>
			</div>
		</div><!-- end container -->
	</div> <!-- end maincontent -->
</div><!-- end main -->