<div class="main">
	<div class="main_content"> <!-- phan noi dung -->
		<div class="container" style="margin: 50px auto;">
			<div class="row">
				<div class="col-md-9 boxleft" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<div class="col-md-12 boxnews">
						<div class="title" style="width: 100%;">
							<div class="bgleft">
								<span>
									<a href="" style="color: #fff;">Giới thiệu</a>		
								</span>
								<span class="breakcolumn">>></span>
								<span>
									<a href="/intros/tasks" style="color: #fff;">Sứ mệnh - Tầm nhìn</a>
								</span>
								<span class="breakcolumn">>></span>
								
							</div>
							<div class="bgright">
								
							</div>
						</div>
					</div>
					
					<div class="intros_content col-md-12" style="padding: 0 10px;">
						<h3 class=""><a href="/intros/tasks">Sứ mệnh - Tầm nhìn</a></h3>
						<hr>
						<div>
							<div style="padding: 10px 0;">
								<span class="glyphicon glyphicon-calendar calendar"></span>
								<span>07/07/2017</span>
							</div>
							<hr>
							<div>
								<p><b>1. Tầm nhìn:</b></p>
								<%= image_tag("image002.jpg", :class => "vision") %>
								<p>Trở thành một  trường học có chất lượng cao, có thường hiệu trong toàn Quận, Thành phố và cả nước; Đào tạo những con người mạnh khoẻ về thể chất, mạnh mẽ về trí lực, đáp ứng được sự phát triển mở cửa của đất nước.</p>
								<p>Trở thành một hệ thống trường giáo dục có chất lượng cao, đạt chuẩn quốc gia, đào tạo những lớp học sinh khoẻ về thể chất, mạnh mẽ về trí lực. Đồng thời giáo dục học sinh phát triển toàn diện, có kỹ năng sống, luôn năng động, sáng tạo, có ý chí vươn lên tự tin trong sự phát triển mở cửa của đất nước.</p>

								<p><b>2. Sứ mệnh:</b></p>
								<p>Bằng mọi hình thức giáo dục hữu hiệu nhà trường thiết lập và cổ vũ cho một môi trường giáo dục mang tính nhân văn, giúp các em học sinh phát huy hết những năng lực tiềm ẩn của chính mình, với một khả năng ứng sử văn hoá giáo dục hiện   đại, với những cách thức giao tiếp lịch sự văn minh, tiếp thu nhanh chóng kiến thức mới mẻ, góp phần vào việc nâng cao chất lượng hệ thống giáo dục Quốc gia Việt Nam.</p>
								
								<p><b>3. Mục tiêu:</b></p>
								<p><b>3.1 Với cán bộ giáo viên và nhân viên trong nhà  trường</b></p>
								<p>Phát huy hết những sở trường năng lực cá nhân của các cán bộ, giáo viên và nhân viên để họ truyền đạt những điều mới mẻ bổ ích đến cho học sinh. Nhà trường luôn biết ơn và tự hào và trân trọng những cống hiến của họ và luôn quan tâm, giúp đỡ họ trong cuộc sống công việc, gia đình để họ có thể đem tất cả kiến thức, tình thương, lịng nhiệt tình cho mọi học sinh.</p>
								<p><b>3.2 Với học sinh</b></p>
								<p>Bằng mọi hình tức gio dục hữu hiệu Chúng tôi sẽ tìm hiểu đặc điểm tâm lí của từng học sinh nhằm có thể trang bị những kiến thức, kỹ năng cần thiết, để các  học sinh phát huy hết được năng lực cá nhân, tư duy sáng tạo của mình. Chng tơi tạo ra một mơi trường học thân thiện để mỗi ngày học sinh đến trường là một ngày hạnh phúc.</p>
								<p><b>3.3 Với phụ huynh học sinh</b></p>
								<p>Chúng tôi phối hợp với phụ huynh, giáo dục các con em họ thành những người con hiếu thảo, những con người năng động, hiểu biết và có kiến thức. Giáo dục các em tinh thần , quyết đoán và ý chí mạnh mẽ trong tương lai, chúng tôi là cầu nối cho những mối quan hệ của học sinh với cha mẹ, x hội.Chúng tôi vô cùng cám ơn sự tin tưởng của quí vị phụ huynh đ phối hợp v gip đỡ nhà trường  kể từ khi thành lập trường.</p>
								<p><b>3.4 Với ngành giáo dục</b></p>
								<p>Nhà trường luôn  ý thức được mục tiêu phải thực hiện là hưởng ứng, tiên phong đi đầu trong thực hiện cho những chính sách mới của các cấp ban ngành đề ra. Nhà trường thường xuyên giao lưu học hỏi với các trường bạn, tổng kết chia sẻ kinh nghiệm cho những trường bạn trong quận, Thành phố, để giữ vững thương hiệu của nhà trường. Chúng tôi sẽ khẳng định mình sẽ l niềm tự ho cho ngnh gio dục Sơn trà.</p>
								<p><b>3.5 Với đất nước</b></p>
								<p>Chúng ta có trách nhiệm xã hội hội giáo dục,  giúp phần thực hiện mục tiêu mọi người đều có quyền đến trường. Chúng tôi sẽ xây dựng nhà trường của nhân dân, làm đẹp cho đất nước. Chúng tôi đào tạo những con người cĩ ý thức lao động kỷ luật thật tốt, có trách nhiệm phục vụ đất nước nhằm đáp ứng qu trình cơng nghiệp hố, hiện đại hoá đất nước.</p>
							</div>
						</div>
					</div>
					<!-- comment -->
					<div class="comment col-md-12" style="padding-left: 10px;">
						<div style="border: 1px solid #eaeaea;">
							<h2 class="comment-title">
								<span>Bình luận</span>
							</h2>
							<div class="comment-right"></div>
						</div>
						<div class="comment-form">
							<span class="comment-content">0 Comments</span>
							<hr>
							<div class="media">
								<a class="pull-left" href="#">
									<%= image_tag("ava.jpg", :class => "media-object") %>
								</a>
								<div class="media-body">
									<input type="text" name="" class="form-control" placeholder="Add a Comment">
								</div>
							</div>
							<input type="button" name="" value="Post" class="btn btn-info" style="float: right; margin: 5px 0;">
						</div>
					</div> <!-- end comment -->
				</div>
				<%= render "commons/sidebar", {report1s: @report1s} %>
			</div>
		</div><!-- end container -->
	</div> <!-- end maincontent -->
</div><!-- end main -->