<div class="main">
	<div class="main_content"> <!-- phan noi dung -->
		<div class="container" style="margin: 50px auto;">
			<div class="row">
				<div class="col-md-9 boxleft" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<div class="col-md-12 boxnews">
						<div class="title" style="width: 100%;">
							<div class="bgleft">
								<span>
									<a href="" style="color: #fff;">Giới thiệu</a>		
								</span>
								<span class="breakcolumn">>></span>
								<span>
									<a href="/intros/organizational_structure" style="color: #fff;">Cơ cấu tổ chức</a>
								</span>
								<span class="breakcolumn">>></span>
								
							</div>
							<div class="bgright">
								
							</div>
						</div>
					</div>
					
					<div class="intros_content col-md-12" style="padding: 0 10px;">
						<h3 class=""><a href="/intros/organizational_structure">Cơ cấu tổ chức</a></h3>
						<hr>
						<div>
							<div style="padding: 10px 0;">
								<span class="glyphicon glyphicon-calendar calendar"></span>
								<span>06/07/2017</span>
							</div>
							<hr>
							<div>
								<%= image_tag("111111111.jpg", width: 730) %>
								<p></p>
								<h4>DANH SÁCH CÁN BỘ, GIÁO VIÊN, NHÂN VIÊN TRƯỜNG TIỂU HỌC ABC</h4>
								<p></p>
								<table>
									<tr>
										<th>TT</th>
										<th>Họ và tên</th>
										<th>Chức vụ/Dạy môn</th>
										<th>Địa chỉ Email</th>
										<th>Điện thoại</th>
									</tr>
									<tr>
										<td>1.</td>
										<td>Lê Thị Thu Huyền</td>
										<td>Hiệu trưởng</td>
										<td>lethiemst@gmail.com</td>
										<td>0982600214</td>
									</tr>

									<tr>
										<td>2.</td>
										<td>Phạm Cần</td>
										<td>Phó hiệu trưởng</td>
										<td>phamcanst@gmail.com</td>
										<td>0905997388</td>
									</tr>

									<tr>
										<td>3.</td>
										<td>Nguyễn Thị Xuân Hương</td>
										<td>Giáo viên</td>
										<td>nguyenxuanhuong@gmail.com</td>
										<td></td>
									</tr>

									<tr>
										<td>4.</td>
										<td>Lê Thị Hòa</td>
										<td>Giáo viên</td>
										<td>lehoahbtst@gmail.com</td>
										<td>0984290857</td>
									</tr>

									<tr>
										<td>5.</td>
										<td>Lê Thị Thu Huyền</td>
										<td>Hiệu trưởng</td>
										<td>lethiemst@gmail.com</td>
										<td>0982600214</td>
									</tr>

									<tr>
										<td>6.</td>
										<td>Phạm Cần</td>
										<td>Phó hiệu trưởng</td>
										<td>phamcanst@gmail.com</td>
										<td>0905997388</td>
									</tr>

									<tr>
										<td>7.</td>
										<td>Nguyễn Thị Xuân Hương</td>
										<td>Giáo viên</td>
										<td>nguyenxuanhuong@gmail.com</td>
										<td></td>
									</tr>

									<tr>
										<td>8.</td>
										<td>Lê Thị Hòa</td>
										<td>Giáo viên</td>
										<td>lehoahbtst@gmail.com</td>
										<td>0984290857</td>
									</tr>

									<tr>
										<td>9.</td>
										<td>Lê Thị Hòa</td>
										<td>Giáo viên</td>
										<td>lehoahbtst@gmail.com</td>
										<td>0984290857</td>
									</tr>

									<tr>
										<td>10.</td>
										<td>Lê Thị Thu Huyền</td>
										<td>Hiệu trưởng</td>
										<td>lethiemst@gmail.com</td>
										<td>0982600214</td>
									</tr>

									<tr>
										<td>11.</td>
										<td>Phạm Cần</td>
										<td>Phó hiệu trưởng</td>
										<td>phamcanst@gmail.com</td>
										<td>0905997388</td>
									</tr>

									<tr>
										<td>12.</td>
										<td>Nguyễn Thị Xuân Hương</td>
										<td>Giáo viên</td>
										<td>nguyenxuanhuong@gmail.com</td>
										<td></td>
									</tr>

									<tr>
										<td>13.</td>
										<td>Lê Thị Hòa</td>
										<td>Giáo viên</td>
										<td>lehoahbtst@gmail.com</td>
										<td>0984290857</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<!-- comment -->
					<div class="comment col-md-12" style="padding-left: 10px;">
						<div style="border: 1px solid #eaeaea;">
							<h2 class="comment-title">
								<span>Bình luận</span>
							</h2>
							<div class="comment-right"></div>
						</div>
						<div class="comment-form">
							<span class="comment-content">0 Comments</span>
							<hr>
							<div class="media">
								<a class="pull-left" href="#">
									<%= image_tag("ava.jpg", :class => "media-object") %>
								</a>
								<div class="media-body">
									<input type="text" name="" class="form-control" placeholder="Add a Comment">
								</div>
							</div>
							<input type="button" name="" value="Post" class="btn btn-info" style="float: right; margin: 5px 0;">
						</div>
					</div> <!-- end comment -->
				</div>
				<%= render "commons/sidebar", {report1s: @report1s} %>
			</div>
		</div><!-- end container -->
	</div> <!-- end maincontent -->
</div><!-- end main -->