<div class="main">
	<div class="main_content"> <!-- phan noi dung -->
		<div class="container" style="margin: 50px auto;">
			<div class="row">
				<div class="col-md-9 boxleft" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<div class="col-md-12 boxnews">
						<div class="title" style="width: 100%;">
							<div class="bgleft">
								<span>
									<a href="" style="color: #fff;">Giới thiệu</a>		
								</span>
								<span class="breakcolumn">>></span>
								<span>
									<a href="/intros/tasks" style="color: #fff;">Chức năng - nhiệm vụ</a>
								</span>
								<span class="breakcolumn">>></span>
								
							</div>
							<div class="bgright">
								
							</div>
						</div>
					</div>
					
					<div class="intros_content col-md-12" style="padding: 0 10px;">
						<h3 class=""><a href="/intros/tasks">Chức năng - nhiệm vụ</a></h3>
						<hr>
						<div>
							<div style="padding: 10px 0;">
								<span class="glyphicon glyphicon-calendar calendar"></span>
								<span>06/07/2017</span>
							</div>
							<hr>
							<div>
								<p><b>1. MỤC TIÊU GIÁO DỤC</b></p>
								<p><b>1.1. MỤC TIÊU TỔNG QUÁT</b></p>
								<p>Không chỉ trang bị kiến thức vững chắc, phát triển tư duy mà còn chuẩn bị tâm lý cho HS bước vào cuộc sống – phát triển các kỹ năng giao tiếp, ý thức kỷ luật, biết tôn trọng bản thân, tôn trọng những người khác.</p>

								<p><b>1.2. MỤC TIÊU CỤ THỂ</b></p>
								<p><b>Mỗi học sinh sau khi hoàn thành chương trình tiểu học sẽ:</b></p>
								<p>* Nắm chắc kiến thức các môn học cơ bản;</p>
								<p>* Có thể  Nghe – Nói – Đọc – Viết Tiếng Anh cơ bản;</p>
								<p>* 100% học sinh biết các kĩ năng bơi cơ bản;</p>
								<p>* Bước đầu biết thực hành và thưởng thức các lĩnh vực nghệ thuật như hội họa, âm nhạc,…</p>
								<p>* Sống chủ động, trách nhiệm, đoàn kết, sáng tạo và nhân hậu;</p>
								<p>* Tự tin và sẵn sàng bước vào cấp học cao hơn – cấp THCS.</p>

								<p><b>2. TIÊU CHUẨN</b></p>							
								<p>* Quy mô lớp học nhỏ (~ 30 học sinh trong một lớp).</p>
								<p>* Các giáo viên có trình độ đại học, trên đại học về chuyên ngành trong các lĩnh vực môn học.</p>
								<p>* Cơ sở vật chất tiêu chuẩn cao, các lớp đều có máy tính và kết nối với internet, có đủ các phòng học bộ môn hỗ trợ cho việc thực hiện kế hoạch dạy học và tạo tính chủ động, tích cực cho học sinh.</p>
								<p>* Có chương trình “Năng khiếu và tài năng” để bồi dưỡng cho các học sinh có tố chất nghệ thuật, thể thao.</p>
								<p>* Có chương trình “Thành Tích Cao” giúp học sinh vươn tới những cuộc thi lớn và giành giải thưởng cao.</p>
								<p>* Có chương trình học tập cá nhân cho các học sinh cần học bổ sung kiến thức.</p>

								<p><b>3. NGUYÊN TẮC XÂY DỰNG CÁC CHƯƠNG TRÌNH GIÁO DỤC</b></p>								
								<p>* Đảm bảo các nội dung giáo dục được quy định trong chương trình sách giáo khoa của Bộ Giáo dục và Đào tạo.</p>
								<p>* Đảm bảo các nội dung giáo dục được quy định trong chương trình sách giáo khoa của Bộ Giáo dục và Đào tạo.</p>
								<p>* Đảm bảo vừa phát hiện sớm và bồi dưỡng năng khiếu, sở trường vừa giáo dục toàn diện cho học sinh.</p>

								<p><b>4. NỘI DUNG CHƯƠNG TRÌNH</b></p>
								<p>Với sự kết hợp của bốn chương trình bộ phận: Chương trình cơ bản, Chương trình bồi dưỡng – mở rộng và nâng cao; Chương trình phát triển năng khiếu và thể chất và Chương trình giáo dục ngoài giờ lên lớp, Trường Tiểu học Chu Văn An hướng tới mô hình giáo dục toàn diện cho học sinh.</p>

								<p><b>4.1. NỘI DUNG CHƯƠNG TRÌNH CƠ BẢN</b></p>
								<p>* Chương trình cơ bản: Tổ chức theo chương trình của Bộ Giáo dục và Đào tạo.</p>
								<p>* Chương trình mở rộng bao gồm 02 phần:</p>
								<p>- Phần cơ bản: Tổ chức như chương trình cơ bản.</p>
								<p>- Phần mở rộng: Tăng cường thêm Tiếng Anh với giáo viên bản ngữ; Toán và Tiếng Việt chuyên sâu.</p>

								<p><b>4.2. CHƯƠNG TRÌNH BỒI DƯỠNG - MỞ RỘNG VÀ NÂNG CAO</b></p>	
								<p>* Chương trình mở rộng – nâng cao được tập trung vào các môn: Toán, Tiếng Việt và Ngoại ngữ (Tiếng Anh). Chương trình bồi dưỡng – nâng cao được dạy chủ yếu vào buổi hai, thiết kế theo các chuyên đề.</p>
								<p>- Với môn Toán và Tiếng Việt sẽ được tổ chức dạy theo chuyên đề chuyên sâu, bao gồm các chuyên đề phân theo dạng toán, các chuyên đề phân theo phương pháp giải toán tiểu học, các chuyên đề toán tổng hợp,… (Toán); các chuyên đề về từ loại; chuyên đề về câu theo thành phần, câu theo mục đích nói; chuyên đề về các dạng văn (miêu tả, trần thuật, kể chuyện, viết thư, đơn từ,…); chuyên đề về các biện pháp tu từ và cảm thụ văn học…. (Tiếng Việt). Chương trình này được được thiết kế, biên soạn với các bài tập từ cơ bản đến nâng cao và khái quát, tập trung hướng vào vào các chủ đề, nội dung thi HSG các cấp (Violympic) và chuẩn bị cho việc thi hay xét tuyển vào lớp 6 các trương chất lượng cao.</p>
								<p>- Với môn ngoại ngữ (Tiếng Anh), nhà trường sẽ liên kết với các trung tâm tiếng Anh chất lượng và chuẩn mực (Trung tâm tiếng Anh Apollo) để tổ chức cho HS của trường học Tiếng Anh theo hướng chuyên sâu vào kĩ năng: nghe – nói – đọc  - viết. Đồng thời liên kết để tổ chức các cuộc thi hoặc hội thi Tiếng Anh theo chủ đề nhằm rèn luyện phát triển kĩ năng sử dụng tiếng Anh của HS.</p>

								<p><b>4.3. CHƯƠNG TRÌNH PHÁT TRIỂN NĂNG KHIẾU VÀ THỂ CHẤT</b></p>
								<p>* Chương trình phát triển năng khiếu và thể chất sẽ tập trung vào các môn như : vẽ, âm nhạc, múa, võ thuật, cầu lông, bóng đá, bóng rổ, bơi lội.</p>
								<p>* Trong các môn trên, nhà trường chú trọng vào môn bơi. Môn học này được nhà trường đưa vào chương trình học bắt buộc vào tháng 5 và tháng 8 hàng năm cho tất cả các khối lớp (miễn phí), với tiêu chí tất cả học sinh Chu Văn An sẽ biết bơi và bơi thành thạo khi ra trường. Đồng thời nhà trường cũng hướng đến việc phát triển đội bơi chuyên nghiệp để tham gia vào các giải thi đấu do các đơn vị tổ chức.  Ngoài ra, các môn học khác như võ thuật, cầu lông, bóng đá… nhà trường sẽ thành lập các câu lạc bộ ngoài giờ cho các con với sự kiểm soát chất lượng cùng PHHS.</p>

								<p><b>4.4. CHƯƠNG TRÌNH GIÁO DỤC NGOÀI GIỜ LÊN LỚP</b></p>							
								<p>* Các chương trình giáo dục ngoài giờ lên lớp bao gồm: giáo dục kỹ năng sống, giá trị sống; tổ chức các hoạt động khám phá, trải nghiệm sáng tạo, với phương châm trải nghiệm để học tập và học tập gắn với trải nghiệm; các chương trình dạ ngoại, tham quan, các hoạt động cộng đồng. VD: Tìm hiểu truyền thống : tham quan di tích lịch sử, bảo tàng, danh lam, thắng cảnh, làng nghề..... trong thành phố Hà Nội;  Khám phá cảm thụ nghệ thuật: xiếc, kịch nói, chèo, múa rối, điện ảnh, hội họa, âm nhạc…;  Kết nối cộng động: các hoạt động từ thiện, các hoạt động cộng đồng, tuyên truyền nếp sống ...</p>
								<p>* Với các chương trình dạy học và giáo dục tổng thể trên, nhà trường cho rằng mọi HS học tại trường TH Chu Văn An sẽ có sự phát triển toàn diện về đạo đức, trí tuệ, thẩm mỹ, thể chất. Trong đó, nhà trường sẽ lấy chất lượng dạy học và sự phát triển về tư duy của học sinh làm cơ bản, với phương châm mọi HS đều có được mức độ phát triển trí tuệ cao nhất, thể hiện ở năng lực sử dụng Tiếng Việt, năng lực giao tiếp, năng lực tính toán – đo lường; năng lực tư duy và giải quyết vấn đề hiệu quả và các phẩm chất khác.</p>
								
							</div>
						</div>
					</div>
					<!-- comment -->
					<div class="comment col-md-12" style="padding-left: 10px;">
						<div style="border: 1px solid #eaeaea;">
							<h2 class="comment-title">
								<span>Bình luận</span>
							</h2>
							<div class="comment-right"></div>
						</div>
						<div class="comment-form">
							<span class="comment-content">0 Comments</span>
							<hr>
							<div class="media">
								<a class="pull-left" href="#">
									<%= image_tag("ava.jpg", :class => "media-object") %>
								</a>
								<div class="media-body">
									<input type="text" name="" class="form-control" placeholder="Add a Comment">
								</div>
							</div>
							<input type="button" name="" value="Post" class="btn btn-info" style="float: right; margin: 5px 0;">
						</div>
					</div> <!-- end comment -->
				</div>
				<%= render "commons/sidebar", {report1s: @report1s} %>
			</div>
		</div><!-- end container -->
	</div> <!-- end maincontent -->
</div><!-- end main -->