<div class="main">
	<div class="main_content"> <!-- phan noi dung -->
		<div class="container" style="margin: 50px auto;">
			<div class="row">
				<div class="col-md-9 boxleft" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<div class="col-md-12 boxnews">
						<div class="title" style="width: 100%;">
							<div class="bgleft">
								<span>
									<a href="" style="color: #fff;">Giới thiệu</a>		
								</span>
								<span class="breakcolumn">>></span>
								<span>
									<a href="/intros/index" style="color: #fff;">Đội ngũ cán bộ</a>
								</span>
								<span class="breakcolumn">>></span>
								
							</div>
							<div class="bgright">
								
							</div>
						</div>
					</div>
					
					<div class="intros_content col-md-12" style="padding: 0 10px;">
						<h3 class=""><a href="/intros/teachers">Đội ngũ cán bộ</a></h3>
						<hr>
						<div>
							<div style="padding: 10px 0;">
								<span class="glyphicon glyphicon-calendar calendar"></span>
								<span>02/07/2017</span>
							</div>
							<hr>
							<div>
								<p><b>Đối với các Giáo viên dạy môn Văn hóa:</b></p>
								<p>* Có đội ngũ giáo viên yêu nghề, tâm huyết với nghề, tận tụy với công việc,  thương yêu, tôn trọng học sinh, giúp học sinh khắc phục khó khăn từng bước vươn lên trong học tập và rèn luyện để có được kết quả tốt.</p>
								<p>* Gương mẫu trong giảng dạy và giáo dục học sinh.</p>
								<p>* Tác phong giảng dạy đúng mực, công bằng, khoa học. Giải quyết công việc khách quan, tận tình, chu đáo.</p>
								<p><b>Đối với các Giáo viên dạy môn Năng khiếu:</b></p>
								<p>* Được đào tạo đúng với chuyên môn, có kiến thức chuyên sâu trong giảng dạy</p>
								<p>* Có kinh nghiệm, nắm vững kiến thức, xây dựng những mô đun hợp lý cho từng môn năng khiếu.</p>
								<p>* Linh hoạt sáng tạo, sử dụng những phương pháp khoa học trong giảng dạy nhằm phát huy tốt những năng khiếu của học sinh.</p>
								<p>* Có kế hoạch giảng dạy phù hợp cho sự phát triển năng khiếu của từng học sinh.</p>
								<p>* Không ngừng nâng cao trình độ chuyên môn và năng lực phục vụ công tác giảng dạy.</p>
								<p><b>Đối với Giáo viên dạy môn Tiếng Anh:</b></p>

								<p>* Giáo  viên giảng dạy là người nước ngoài có bằng cấp quốc tế về giảng dạy tiếng Anh, phương pháp dạy học sáng tạo cùng trang thiết bị học tập theo tiêu chuẩn,đảm bảo cho học sinh tiếp thu và lĩnh hội tốt những kiến thức được truyền đạt.</p>
								<p>* Có sự tham gia trợ giảng của giáo viên trong nước với nhiều năm kinh nghiệm giảng dạy, đảm bảo về năng lực ngôn ngữ và năng lực sư phạm để giảng dạy tiếng Anh.</p>
							</div>
							<h2 class="itemTitle">Danh sách cán bộ - giáo viên<br>Trường tiểu học ABC</h2>
							<div class="col-md-12" style="padding-top: 15px;">
								<div class="col-md-4">
									<%= image_tag("nguyenhuyen.jpg") %>
								</div>
								<div class="col-md-8" style="top: 55px;">
									<table class="teachers_tb">
										<tr>
											<td><b>Bà:</b></td>
											<td>Nguyễn Công Thị Thu Huyền</td>	
										</tr>
										<tr>
											<td><b>Chức vụ:</b></td>
											<td>Hiệu trưởng</td>
										</tr>
										<tr>
											<td><b>Ngày sinh:</b></td>
											<td>08 - 07 - 1975</td>
										</tr>
										<tr>
											<td><b>Trình độ chuyên môn:</b></td>
											<td>Đại học Sư phạm - Đại học Quản lý giáo dục.</td>
										</tr>
										<tr>
											<td><b>Trình độ lý luận chính trị:</b></td>
											<td>Trung cấp.</td>
										</tr>
									</table>
								</div>
							</div>
							<span style="font-size: 16px;">---------------------------------------------------------------------------------------------------------------------------------------</span>
							
							
						</div>
					</div>
				</div>
				<%= render "commons/sidebar", {report1s: @report1s} %>
			</div>
		</div><!-- end container -->
	</div> <!-- end maincontent -->
</div><!-- end main -->